.nextButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nextButtonContainer > span{
    font-size: 1rem;
}

.customButton{
    background-color: black;
    color: white;
    padding: 0.8rem 2.6rem;
    border: 1px solid white;
    cursor: pointer;
    font-size: 1rem;
    font-size: clamp(1rem, 0.96rem + 0.19999999999999996vw, 1.2rem);
}

.customButton:hover{
    background-color: white;
    color: black;
}